.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-header-bg);
    color: var(--color-text);

}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__label {
    margin-bottom: 0.7rem;
}

.login__button {
    margin: 1rem;
    border: 1px solid var(--color-hover);
    border-radius: 8px;
    padding: 0.5rem;

    font-size: 1.1rem;

    color: var(--color-text);

    background-color: var(--color-bright);

    cursor: pointer;
}

.login__button:hover {
    color: white;
    background-color: var(--color-hover);
}


@media (min-width: 40rem) {
    .login__form-email {
        font-size: 1.3rem;
    }

    .header__info {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

        margin: 0.5rem;
    }
}