.home__container {
    display: flex;
    flex-direction: column;

    margin: 2rem 7rem;
    padding: 2rem;

    border: 4mm ridge var(--color-bright);
}

.home__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__content {
    font-size: 1.3rem;
    color: var(--color-text);
}

@media (max-width: 70rem) {
    .home__intro {
        width: 23rem;
        height: 14rem;
    }
}

@media (max-width: 40rem) {
    .home__intro {
        display: none;
    }
}